@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    font-family: 'suse';
    box-sizing: border-box;
    /* overflow-x: hidden;  */
}

/************ HEADER ***********/
.poster img {
    width: 100%;
    height: auto;
    display: block;
}


nav.menu {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    color: #fff;
    margin: 20px 20px;
    white-space: nowrap;

}

nav.menu a {
    font-size: 20px;
    text-decoration: none;
    border-radius: 50px;
    border: 0;
    color: #000;
    padding: 10px 50px;
    transition: 0.4s;
    display: inline-block;
}

.menu a:hover {
    letter-spacing: 2px;
    background-color: #000;
    color: #fff;
    box-shadow: rgb(0, 0, 0) 0px 7px 20px 0px;
}


/**************** HOME **************/
.primero {
    background-color: #000;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

section{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    width: 100%;

}

section div{
    margin-right: auto;
}

.title {
    width: 20%;
    margin-bottom: 10px;
}


.event, .event2{
    width: 30%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.primero p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    align-items: center;
} 

.btn {
    width: auto;
    margin: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px ;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: #e9e6e6;
}


.primero .btn {
    margin-left: 740px;
}

.publicidad {
    background-color: #000;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.publicidad img {
    width: 70%;
}

.publicidad .btn {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}


/*************FOOTER**************/
footer {
    background: rgba(0, 0, 0, 0.50);
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

footer.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
    align-items: center;
}

footer img {
    width: 20%;
    height: auto;
    max-width: 100%;
}

footer.top .links {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 150px;
    align-items: flex-start;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
    justify-content: left;
    gap: 50px
}

.info a {
    font-size: 13px;
    color: #fff;
}

footer.bottom {
    padding: 20px 0 ;
    justify-content: space-between;
    width: 100%;
}

.info h2{
    font-weight: bold;
}


.one, .two {
    margin-top: 1px;
    padding: auto;
    align-content: baseline;
}

/*CONTÁCTANOS */
.contact {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
    align-content: baseline;
    justify-content: left;
    gap: 50px
}

.contact p {
    font-size: 13px;
    margin-top: 1px;
    padding-bottom: 8px;
}

.contact h2 {
    text-align: left;
    justify-content: left;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

footer p {
    color: #fff;
    margin-top: 20px;
}

footer .legal {
    font-size: 12px;
    color: #fff;
}

footer .legal > span {
    margin-right: 10px;
    margin-left: 20px;
}


.redes img, .redes2 img, .redes3 img {
    display: grid;
    padding-top: 5px;
    margin: -30px;
    margin-bottom: -20px;
    align-items: center;
    width: 20px;
}

/*************QUIENES SOMOS************/
.somos {
    background-color: #000;
    padding-bottom: 100px;
}

.somos img {
    width: 20%;
    margin-top: 90px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.somos p {
    margin-top: 100px;
    margin: left 0px;
    color: #fff;
}


/***********EVENTOS*****************/
/*Se creó unos estilos determinado para el artículo de eventos*/
.enc-evento {
    margin: 10px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.enc-evento img {
    width: 50%;
    height: auto;
}

.enc-evento h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}

.evento-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

.evento-info img{
    width: 80%;
}

.cuenta-regresiva {
    margin: 20px 0;
    width: 80px;;
    height: auto;
}

/*Llega hasta acá*/

.cartas {
    margin: 10px 10px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cartas img {
    width: 30%;
    max-width: 250px;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.cartas img:hover {
    transform: scale(1.05);
}


/***********GALERIA*****************/

.galeria {
    margin: 10px 10px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria img {
    width: 30%;
    max-width: 250px;
    transition: transform 0.2s ease;
    border-radius: 8px;
    cursor: pointer;
}

.galeria img:hover {
    transform: scale(2);
}

/************* CONTACTO ****************/
.primero h2, .publicidad h2, .entradas h1{
    font-size: px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}

.colorful-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-family: "suse";
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
}

textarea.form-input {
    height: 100px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    letter-spacing: 3px;
    background-color: #000;
    color: #fff;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}

/**********LEER MAS***************/
.images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.img-art {
    width: 90%;
    margin-left: 20px;
    margin-right: 0;
    float: left;
    cursor: pointer;
}

.img-art:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/******** COMPRAR AQUÍ ******/
.entradas{
    background-color: #000000;
    margin-bottom: 20px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.entradas h2 {
    width: 100%;
    padding: 5px 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #000000;
} 

.entradas section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.entradas .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px; 
    width: 100%;
    margin: auto; 
}

.entradas .box:hover{
  transform: scale(1.1);
  transition: transform 0.3s
}

.entradas .box{
    display: flex;
    flex-direction: column;
    height: 586px;    
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.568);
    cursor: pointer;
    width: 90%; 
    max-width: 300px; 
}

.entradas .title{    
    padding: 10px 0;
    font-size: 2em; 
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(0, 0, 0);
}

.entradas .basic title{
    background: #000000;
    width: 100%;
}

.entradas .view{
    display: block;
    width: 100%;
    padding: 30px 0 20px;
    background: #000000;
}

.entradas .icon{
    display: flex;
    align-self: center;
    justify-content: center;
}

.entradas .icon img{
    width: 100px;
}

.entradas .cost{
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin-top: 10px;
}

.entradas .amount{
    font-size: 2.8em;
    font-weight: bolder;
    color: #f5f5f5;
}

.entradas .detail{
    margin: auto 0 auto 5px;
    width: 70px;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 15px;
    color: #ffffff;
}

.entradas .description {    
    margin: 0;
    font-size: 0.8em;
    color: #000000; 
    padding: 20px;   
}

.entradas ul{
    list-style: none;
}

.entradas li{
    margin-top: 10px;
    list-style: none;
    text-align: left;
}

.entradas li::before{
    content: "";
    background-image: url("https://i.postimg.cc/ht7g996V/check.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.entradas .button {
    margin: 0 auto 30px;
    width: 100%; 
    max-width: 250px; 
}

.entradas button {
    height: 40px;
    width: 100%; 
    font-size: 1em; 
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #7D7C7C;
    border: 2px solid #7D7C7C;
    border-radius: 50px;
    background: transparent;
    transition: all 0.5s; 
}

.entradas button:hover {
    color: #F5F5F4;
    border: none;
    background: #7c7c7c;
    cursor: pointer;
}


/* DISEÑO RESPONSIVE */
/************** MEDIA QUERIES *************/
/* Responsive */
@media (0px <=width <=1200px) {

    /* HEADER */
    iframe {
        height: 250px; /* Ajusta la altura para pantallas pequeñas */
        width: 250px;
    }

    .poster img {
        min-width: 100%;
    }

    .menu {
        gap: 20px;
    }

    nav.menu a {
        font-size: 14px;
        padding: 10px 0;
    }

    /* HOME */
    .poster {
        width: 100%;
        height: 100%;
    }

    .title,
    .event,
    .event2 {
        width: 100%;
        max-width: 300px;
        height: 100%;
        flex-direction: column;
        margin: 0 auto;

    }

    .primero,
    .publicidad {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }

    .primero .title {
        width: 100%;
    }

    .primero .event,  
    .primero p,
    .primero .btn,
    .publicidad .btn {
        text-align: center;
        margin: 50px;
        font-size: 16px;
        box-sizing: border-box;        
    }    

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 20px;
        width: 100%;
    }

    section div {
        margin-right: auto;
    }

    p {
        font-size: 1em;
        margin: 10px 0;
        padding: 0 10px;
    }

    /* QUIENES SOMOS */
    .somos img {
        width: 100%;
        max-width: 80%;
        margin: 10px auto;
        display: block;
    }

    /* FOOTER */
    footer,
    footer.bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding: 20px;
        width: 100%;
    }

    footer.top .links,
    .info,
    .contact,
    .redes,
    .redes2,
    .redes3 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: left;
    }

    .contact,
    .info a,
    footer .legal,
    footer h2 {
        font-size: 14px;
    }

    footer img {
        width: auto;
        max-width: 40%;
        margin: 10px auto;
    }

    /* GALERIA Y EVENTOS */
    .cartas,
    .galeria {
        flex-direction: row;
        align-items: center;
    }

    .cartas img,
    .galeria img {
        width: 45%;
    }

    .enc-evento {
        margin: 10px 10px 50px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .enc-evento img {
        width: 30%;
        height: auto;
    }

    .enc-evento h1 {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
    }

    .evento-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .evento-info img {
        width: 60%;
        max-width: 300px;
    }

    .cuenta-regresiva {
        margin: 20px 0;
        width: 100%;
        height: auto;
    }

    /* LEER MAS */
    .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 300px;
        height: 100%;
        margin: 0 auto;
    }

    .img-art {
        width: 100%;
        max-width: 80%;
        margin: 10px auto;
        display: block;
        margin-right: 50px;
    }    

    .art p,
    .art2 p,
    .art3 p {
        font-size: 1em;
        padding: 10px;
        text-align: center;
    }

    .entradas .content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .entradas .box {
        width: 100%; 
        margin: 10px 0; 
    }

    .entradas .view{
        display: block;
        width: 100%;
        padding: 30px 0 20px;
        background: #000000;
    }   

    .entradas button {
        height: 50px; 
        font-size: 0.8em; 
    }

    .entradas h2 {
        font-size: 1.5em; /* Ajustar el tamaño de la fuente */
        padding: 8px 0; /* Reducir el espaciado vertical */
    }

    .entradas .title {
        font-size: 1.5em; /* Ajustar el tamaño de la fuente */
        padding: 40px ;
    }

}